	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-my-style">
            <a class="navbar-brand" href="images/icons/Logo.png" target="_blank"><img src=images/icons/Logo.png height="50" width="50" alt="logo"></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href=""><button type="button" class="btn btn-bg">Домашняя</button></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="catalog.html"><button type="button" class="btn btn-bg">Каталог</button></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="formToAddData.html"><button type="button" class="btn btn-bg">Новая поставка</button></a>
					</li>
				</ul>
			</div>
			<div class="container">
				<h2 class="col-md-12 text-center">Складской учет, поступление, разгрузка</h2>
			</div>
		</nav>
	</header>